.projectSection{
    padding-bottom: 3rem !important;
    /* margin-bottom: 3rem; */
}
.project-card{
    /* border: 2px solid black; */
    border-radius: 2rem;
    background-color: #FFF;
    transition: 0.7s;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}
.project-card:hover{
   
            transform: translateY(-10px);

    background-color: #f9f9f9;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
}
.project-card a{
    color: #FFF;
    background-color: rgb(42, 157, 240);
    text-decoration: none ;
    margin: 3px;
    padding: 6px 10px;
    border-radius: 10px;
    transition: 0.3s;
}
.project-card a:hover{
    color: #FFF;
    background-color: rgb(25, 145, 230);
}
.project-des{
    color: #8d8d8d;
}
