@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.h2{
    font-family: 'Lato', sans-serif !important;
    font-size: 4rem !important;
    font-weight: 800 !important;
    text-align: left;
}
.h2 span{
    color: rgb(67, 175, 246);

}
p{
    color: #fff;
    font-family: 'Lato', sans-serif;
}
.btn{
    background-color: rgb(67, 175, 246) !important;
    margin-top:5px !important;
    margin-bottom:5px !important;
    margin: 0px 2px;

}
.my-pic img{
    border-radius: 1rem !important;
}

.social_btn{
    background-color: #fff;
    border-radius: 1rem;
  
    margin-left: 5px;
    padding: 1rem 1rem;
}
.social-Text{
   
    padding: 0rem !important;
    padding-left: 0;
    border-radius: 1rem;
}


.social-Text a{
    /* padding: 0rem; */
    font-size: 1.6rem;
    font-weight: 900 !important;
    background-color: #fff;
    transition: 0.3s;
    margin: 0px 2px;
    
}
.social-Text a:hover,.btn:hover{
    background-color:rgb(67, 175, 246) !important;
    color: #fff !important;
    
}


.social-Text div span{
    text-align: left!important;

}

@media screen and (max-width:454px) {
    .social-Text {
    display: flex !important;
    /* flex-direction: column!important */
        }
}