@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");

.nav {
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, #020d26 50%);
    transition: all 0.5s ease-in;
}

.nav_black {
    background: var(--secondary);
}

.nav-container {
    width: 100%;
    display: flex;
    padding: 0px 70px;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.nav-logo {
    width: 100%;
    /* width: 20rem; */
    height: auto;
    object-fit: contain;
    /* margin-left: 50px; */
    border-radius: 1rem;
    font-size: large;
    /* max-width: 100%; */
}

/* .logo {
  /* width: 100%; 
  font-size: 5rem;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  /* color: rgb(206, 175, 3); 
} */
.nav-items {
    margin-right: 30px;
}

.items {
    margin-right: 50px;
}

.nav-links {
    color: white;
    /* color: rgb(206, 175, 3); */
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    position: relative;
}

.active {
    color: rgb(206, 175, 3);
    color: var(--primary);
}

.nav-links::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 3px;
    width: 0%;
    height: 2px;
    background-color: rgb(206, 175, 3);
    background-color: var(--primary);
    transition: all 0.5s ease;
}

.nav-links:hover::after {
    color: rgb(206, 175, 3);
    color: var(--primary);
    width: 100%;
}

.nav-links:hover {
    color: rgb(206, 175, 3);
    color: var(--primary);
}

.menu-btn {
    display: none;
}

.logo-menu {
    display: flex;
}

@media screen and (max-width: 1020px) {
    .nav-container {
        padding: 0px 30px;
        flex-direction: column;
        height: 3.5rem;
    }

    .menu-btn {
        display: block;
    }

    .items {
        width: 100%;
        margin-right: 0px;
        height: 100vh;
        position: fixed;
        top: 3.5rem;
        right: 0%;
        text-align: center;
        background: var(--secondary);
        transition: all 1s ease;
    }

    .hide {
        right: -100%;
    }

    .nav-items {
        display: block;
    }

    .nav-logo {
        width: 60%;
        height: 50%;
    }

    .navbar {
        width: 100%;
    }

    .logo-menu {
        width: 100%;
        justify-content: space-between;
    }

    .nav-items {
        margin: 30px;
        padding: 20px;
    }
}

@media screen and (max-width: 700px) {
    .nav-logo {
        width: 60%;
        height: 100%;
    }
}