
body{
  background-color: #021626 !important;
}

 body::-webkit-scrollbar {
   display: none;
 }

 body {
   -ms-overflow-style: none;
   /* IE and Edge */
   scrollbar-width: none;
   /* Firefox */
 }

.conanent{
  background-color: #f9f9f9;
  margin-top: 4rem;
  border-radius: 2rem;
}