/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap"); */
body{
  background-color: #021626 !important;
  /* background-color: #173448 !important; */
  /* overflow-y: hidden !important; */
    /* Hide vertical scrollbar */
    /* Hide scrollbar for Chrome, Safari and Opera */
     
    /* overflow-x: hidden; */
}

 body::-webkit-scrollbar {
   display: none;
 }

 /* Hide scrollbar for IE, Edge and Firefox */
 body {
   -ms-overflow-style: none;
   /* IE and Edge */
   scrollbar-width: none;
   /* Firefox */
 }

.conanent{
  background-color: #f9f9f9;
  margin-top: 4rem;
  border-radius: 2rem;
}